<!DOCTYPE html>
<html>
<head>
    <title>CHAT-TEST</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="images/download.jpeg" type="image/x-icon" sizes="16x16">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/custom.css">
</head>

<body>
    <div class="container-fluid" style="margin-top: 20px;">
        <div class="notification" id="">
            <div class="cross-btn">
                <span class="glyphicon glyphicon-remove"></span>
            </div>
            <div id="idFrom"></div>
            <div id="idNotMessage"></div>
        </div>
        <div class="row" id="chat-window" style="display: none">
            <div class="col-sm-offset-2 col-sm-2" id="left-bar">
                <p style="color: #fff; font-size: 16px; margin-top: 20px; font-weight: bold">&nbsp;&nbsp;&nbsp;&nbsp;Online Users</p>
                <ul id="user-list"></ul>
            </div>
            <div class="col-sm-6" id="right-bar">
                <div id="chat-head">
                    <div class="row" style="padding-top: 10px;">
                        <div class="col-xs-2 col-sm-1">
                            <img src="images/user.png" alt="" height="30" width="30" id="userImage" style="display:none">
                        </div>
                        <div class="col-xs-5">
                            <p id="chattingWith"></p>
                        </div>
                        <div class="col-xs-5">
                            <p class="typing" id=""></p>
                        </div>
                    </div>
                </div>
                <div class="message-display" id="">

                    
                </div>
                <div>
                    <div class="input-group">
                        <input id="message" type="text" class="form-control message-box" name="message" placeholder="wite here to send message" disabled>
                        <span class="input-group-addon" id="sendBtn"><i class="glyphicon glyphicon-send"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <h3 id="logout" style="color:blue">Logout  ( <span id="myUsername"></span> )</h3>                
            </div>
        </div>
        <div class="row" id="login-window">
            <div class="col-sm-5 col-centered">
                <div class="card">
                    <form action="/login" method="POST" onsubmit="return loginUser($(this))">
                        <div class="form-group">
                            <center>
                                <label for="userName" style="font-size: 18px; color: azure">Please enter the username to start chat</label><br><br>
                                <input type="userName" class="form-control input-lg" id="userName" placeholder="username" name="userName", required>
                            </center>
                        </div>
                        <center>
                            <button type="submit" class="btn btn-default btn-lg">Submit</button>
                        </center>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script type="text/javascript">

        var chatRoomId = "";
        var secondUserId = "";
        var socket = io();
        var storage = window.localStorage;
        var userId = storage.getItem('userId');
        var userName = storage.getItem('userName');
        var typingTimer;
        var doneTypingInterval = 2000;
        var $input = $('input');

        //<<<<<<<<<<<<<<<<<< start-socket-script >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

        socket.on('updateUserList', function (users) {
            $("#user-list").html("")
            users.forEach(element => {
                var uId = element.userId;
                var un = element.userName;
                if(uId !== userId){
                    var html = $("<li class='user' data-status='online'  data-username="+ un +"  id=" + uId + ">" + un + " &nbsp;&nbsp;<span class='online' id='us"+ uId +"'>&#11044</span></li>");
                }
                $('#user-list').append(html);
                $("#cus" + uId).removeClass('offline').addClass('online');

            });
        });

        socket.on('showOffline', function (user) {
            if(user){
                $("#us" + user.userId).removeClass('online').addClass('offline')
                $("#cus" + user.userId).removeClass('online').addClass('offline')
                $("#" + user.userId).attr('data-status', 'offline')
            }
        });

        socket.on('messageNotification', function (messageObj){
            if (messageObj.sender._id !== secondUserId){
                $("#idFrom").html('');
                $("#idNotMessage").html('')
                $("#idFrom").html('New Message from <b>'+ messageObj.sender.userName +'</b>');
                $("#idNotMessage").html(messageObj.message)
                $("#id"+messageObj.receiver._id).show();
                $('.notification').delay(2000).fadeOut("slow");
            }
        });

        socket.on('newMessage', function (messageObj) {
            var time = formatTime(new Date(messageObj.createdAt))
            var crmId = messageObj.chatRoom;
            if (messageObj.sender._id === userId){
                var cls = "pull-right"
            }else{
                cls = "pull-left"
            }
            var html = "<p class='textMessage "+ cls +" '>"+ messageObj.message + '<span class="timeStamp">'+ time +'</span>'+"</p>"
            $("#"+crmId).append(html);
            updateScroll();
        });

        socket.on('showUserTyping', function(data){
            if (secondUserId){
                $("#type"+data.chatRoomId).html(data.userName+ " is typing...");
                $("#type"+data.chatRoomId).show();
            }
        });

        socket.on('stopUserTyping', function(data) {
            $("#type" + data.chatRoomId).hide();
        })

        if(userId && userName){
            $('.notification').attr('id', 'id' + userId);
            socket.emit('registerUser', { userId, userName })
            $("#login-window").hide();
            $("#chat-window").show();
            $("#myUsername").html(userName)
        };

        //<<<<<<<<<<<<<<<<<< end-socket-script >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

        function formatTime(date) {
            var hours = date.getHours();
            var minutes = date.getMinutes();
            var ampm = hours >= 12 ? 'pm' : 'am';
            hours = hours % 12;
            hours = hours ? hours : 12;
            minutes = minutes < 10 ? '0' + minutes : minutes;
            var strTime = hours + ':' + minutes + ' ' + ampm;
            return strTime;
        };

        $("#message").keypress(function (event) {
            var keycode = (event.keyCode ? event.keyCode : event.which);
            if (keycode == '13') {
                sendMessage();
            }
        });

        $("#sendBtn").on('click', function(){
            sendMessage();
        });

        function sendMessage() {
            updateScroll();
            if(!chatRoomId){
                alert('select one user to send message')
            }
            var message = $("#message").val();
            if(message ){
                socket.emit('createMessage', {chatRoomId, userId, secondUserId, message});
                $("#message").val("");
            }
        };

        function appendChats(messageList){
            messageList.forEach(element => {
                var time = formatTime(new Date(element.createdAt))
                if (element.sender._id === userId){
                    var cls = "pull-right"
                }else{
                    cls = "pull-left"
                }
                var html = "<p class='textMessage "+ cls +" '>"+ element.message + '<span class="timeStamp">'+ time +'</span>'+"</p>"
                $("#"+chatRoomId).append(html)
            });
        }

        $(document).on('click', '.user', function (e) {
            var sId = $(this).attr('id');
            if(sId === userId){
                alert('Nope! Khud se chat ni kr sakte')
                return false;
            }
            if(secondUserId && sId === secondUserId){
                return false;
            }
            var status = $(this).attr('data-status');
            if(status === 'online'){
                var text = $(this).text().split(' ')[0] + "&nbsp;&nbsp; <span class='online' id='cus"+ sId +"'>&#11044</span>";
            }else{
                var text = $(this).text().split(' ')[0] + "&nbsp;&nbsp; <span class='offline' id='cus" + sId + "'>&#11044</span>";
            }
            $(".message-display").html("")
            $("#userImage").show();
            $("#chattingWith").html(text)
            $.ajax({
                url: "/getChatRoomId",
                type: "POST",
                data: {
                    firstUserId: userId,
                    secondUserId: sId
                },
                success: function (response) {
                    if (response.status) {
                        var messageList = response.messageList;
                        var chatRoomObj = response.chatRoomObj;
                        chatRoomId = chatRoomObj._id;
                        secondUserId = sId;
                        $("#"+chatRoomId).html("");
                        $('.message-display').attr('id', chatRoomId);
                        var typeId = "type"+chatRoomId;
                        $('.typing').attr('id', typeId);
                        socket.emit('privateChat', { chatRoomObj});
                        $("#message").prop('disabled', false);
                        appendChats(messageList);
                        updateScroll();
                    } else {
                        if (response.message){
                            alert(response.message);
                            return false;
                        }
                        alert('something went wrong')
                    }
                },
            });
            return false;
        });

        $("#logout").on('click', function(){
            localStorage.clear();
            location.reload();
        })

        function updateScroll(){
            var element = document.getElementById(chatRoomId);
            element.scrollTop = element.scrollHeight;
        }

        $(".cross-btn").click(function(){
            $('.notification').delay(100).fadeOut("slow");
        });

        $input.on('keyup', function () {
            clearTimeout(typingTimer);
            typingTimer = setTimeout(doneTyping, doneTypingInterval);
        });

        $input.on('keydown', function () {
            socket.emit('typing', { chatRoomId, userName });
            clearTimeout(typingTimer);
        });

        function doneTyping() {
            socket.emit('stopTyping', { chatRoomId, userName });
        }
        function loginUser($this) {
            $.ajax({
                url: $this.attr("action"),
                type: $this.attr("method"),
                data: $this.serialize(),
                success: function (response) {
                    if (response.status) {
                        userId = response.userObj._id;
                        $('.notification').attr('id', 'id' + userId);
                        userName = response.userObj.userName
                        storage.setItem('userId', userId);
                        storage.setItem('userName', userName);
            
                        $("#login-window").hide();
                        $("#chat-window").show();
                        $("#myUsername").html(userName)
                        socket.emit('registerUser', { userId, userName })
                    }else{
                        alert('something went wrong')
                    }
                }
            });
            return false;
        };
    </script>
    </body>
</html>