body {
    background-color: lightgray;
}
#left-bar {
    background-color: #0e4da6;
    padding: 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 550px;
    overflow: auto;
}
#right-bar {
    min-height: 550px;
    background-color: #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.card {
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background-color: #4a72ab;
    margin-top: 40px;
    padding: 20px;
    height: 300px;
}
.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
ul {
    list-style-type: none
}
li {
    padding: 5px 5px 5px 5px;;
    font-size: 15px;
    margin-left: -30px;
    color: #fff;
    font-weight: 900;
    margin-bottom: 10px;
    border-radius: 2px;
    cursor: pointer;
}
li:hover {
    background-color: #fff;
    color: black
}
.col-centered {
    float: none;
    margin: 0 auto;
}
#chat-head {
    height: 48px;
    border-bottom: 0.4px solid lightgrey;
}
.message-display {
    height: 448px;
    overflow: auto;
    padding-top: 5px;
}
.message-box {
    height: 50px;
}
#send-btn {
    cursor: pointer;
    color: #4a72ab
}
#logout {
    font-weight: normal;
    font-size: 13px;
    text-decoration: underline;
    cursor: pointer;
}
#chattingWith {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-top: 4px;
}
.textMessage{
    font-style: italic;
    padding: 10px;
    background-color: lightblue;
    border-radius: 10px;
    width: 80%;
    font-size: 13px;
}
.timeStamp {
    font-size: 12px;
    float: right;
    color: #8c8484;
    padding-top: 5px;
}
.online {
    font-size: 14px;
    color: #55e855;
}
.online:hover {
    font-size: 14px;
    color: #55e855;
}
.offline {
    font-size: 14px;
    color: lightgray;
}
.offline:hover {
    font-size: 14px;
    color: lightgray;
}
.notification {
    display: none;
    right: 0;
    line-height: 24px;
    position: fixed;
    font-style: italic;
    z-index: 1;
    width: 300px;
    font-size: 13px;
    margin: 10px 50px;
    padding: 10px;
    background-color: skyblue;
    color: #244556;
    box-shadow:0 5px 10px rgba(0, 0, 0, 0.4);
}
.cross-btn{
    cursor: pointer;
    float: right !important;
}
.typing {
    display: none;
    color: #69e555;
    font-size: 15px;
    padding-top: 1px;
}